.theme-default[data-carousel-3d-panel] {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.theme-default[data-carousel-3d-panel] .prevButton {
    position: absolute;
    z-index: 1000;
    top: -1%;
    left: 1%;
    width: 5%;
    height: 100%;
    background: url(prev.png) no-repeat center left;
    background-size: contain;
}
.theme-default[data-carousel-3d-panel] .nextButton {
    position: absolute;
    z-index: 1000;
    top: -1%;
    right: 1%;
    width: 5%;
    height: 100%;
    background: url(next.png) no-repeat center right;
    background-size: contain;
}
.theme-default[data-carousel-3d] {
    position: absolute;
    perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 90%;
}
.theme-default[data-carousel-3d] li {
    position: absolute;
    border: 5px solid rgba(237, 237, 236, 1);
}
[data-child-content] {
    transform-origin: 0px 0px;
}